body {
    margin: 0 !important;
}

.d-flex {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
}

.leftpane {
    width: 13%;
    height: 100vh;
    background-image: url("https://i.pinimg.com/736x/48/6c/c0/486cc02eba94124e6c1cb599fa284b3c.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 1%;
}


.rightpane {
    width: 13%;
    height: 100vh;
    background-image: url("https://i.pinimg.com/736x/48/6c/c0/486cc02eba94124e6c1cb599fa284b3c.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 1%;
}

.middlepane {
    width: 70%;
    height: 100vh;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    background-size: cover;
    padding: 1%;


}

#map {
    flex: 1;
    height: 75vh;
    width: auto;
    background-color: #A4CFDD;
    padding: 1%;

}
#map {
    overflow: hidden;

}
#map img{
    height: auto;
    width: 100%;
    display: block;
    margin: auto;

}

.textbox {
    height: 24vh;
    background-color: burlywood;
    width: auto;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapers.com%2Fimages%2Fhd%2Fblack-texture-pictures-0uiakau8ctnnq8ke.jpg&f=1&nofb=1&ipt=e66128c0e75fe03cd7dc6aa5c85d321d011c2db56ae91b79aa58bea497ba92cc");
    background-size: 100% 99%;
    background-repeat: no-repeat;

    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 1vh;
    padding: 1%;
}

.middlepane p {
    margin:20px;
}


h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.leftpane p{
    text-align: center;
}