main {
    width: 100vw;
    display: flex;
    align-content: center;

}
body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fblog.boot.dev%2Fimg%2F800%2Fwizardsfightingoversomething.png.webp&f=1&nofb=1&ipt=6bdd731b9db08c56a598eae30fae0e872764ed2da5ca78460816cbcc95078fad") ;
    margin:0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    opacity: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100vh;
}


button {
    font-size: 2rem;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 20px 100px;
}
h1 {
    font-size: 20rem;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding:1rem;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #ff4d00;
}
#Name {
   font-size: 2rem;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 20px 100px;
    width: 100px;
    height: 30px;
}
.Namebox p {
    font-size: 2rem;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 10px 40px;
    background-color: rgba(255, 235, 205, 0.7);
    width: 20vw;
    text-shadow: 0 0 3px rgba(255, 77, 0, 0.65), 0 0 5px rgba(202, 202, 202, 0.45);
}
.Namebox {
    font-size: 2rem;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    border-top: 40px;
}

#body {
    display: flex;
}