
.leftpane {
    width: 15%;
    height: 100vh;
    background-image: url("https://i.pinimg.com/736x/48/6c/c0/486cc02eba94124e6c1cb599fa284b3c.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#stats {
    margin-left:20px;
    text-align: center;
    font-size: xxx-large;
}
#right_title {
     margin-left:10px;
     margin-bottom: 0;
     text-align: center;
     font-size: xxx-large;
}
.rightpane li {
     margin-left:10px;
     text-align: match-parent;
     font-size: large;
     padding: 5.2px;
}
#stat_names {
     margin-left:10px;
     text-align: center;
     font-size: xx-large;
     padding: 10px;

}
#map-container {
  position: relative;
  height: 69vh;
    width: auto;
  border: 15px solid burlywood;
  background-color: #A4CFDD;
  overflow: hidden;
}

.rightpane {
    width: 15%;
    height: 100vh;
    background-image: url("https://i.pinimg.com/736x/48/6c/c0/486cc02eba94124e6c1cb599fa284b3c.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-height: 100vh;
    overflow-y: auto;
}

body {
    margin: 0 !important;
}

.d-flex {
    display: flex;
}

.middlepane {
    width: 70%;
    height: auto;
    background-color: #A4CFDD;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

#map {
    height: 70vh;
    width: 100%;
    border: 15px solid burlywood;
    background-color: #A4CFDD;
    z-index: 1;
    position: relative;
    overflow: hidden;
}


.hidden {
  display: none;
}
#image-temp {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
#image-temp img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.textbox {
    height: 25.5vh;
    background-color: burlywood;
    width: auto;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapers.com%2Fimages%2Fhd%2Fblack-texture-pictures-0uiakau8ctnnq8ke.jpg&f=1&nofb=1&ipt=e66128c0e75fe03cd7dc6aa5c85d321d011c2db56ae91b79aa58bea497ba92cc");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 15px solid burlywood;
    font-size: 30px;
    color: white;
    text-align: justify;
    position: relative;
}

.textbox p {
    margin:20px;
}
#test {
    margin-left:20px;
}
#next1 {
    position: absolute;
    bottom: 30px;
    height: 60px;
    width: 140px;
    margin-left: 20px;
    text-align: center;
    align-content: center;
    font-size: medium;

}
#next2 {
    position: absolute;
    bottom: 30px;
    height: 60px;
    width: 140px;
    margin-left: 20px;
    text-align: center;
    align-content: center;
    right: 42% ;
    font-size: medium;
}
#next3 {
    position: absolute;
    bottom: 30px;
    height: 60px;
    width: 140px;
    margin-left: 10px;
    text-align: center;
    align-content: center;
    right: 54% ;
    font-size: medium;
}
#endbtn {
    position: absolute;
    bottom: 30px;
    height: 60px;
    width: 140px;
    margin-left: 20px;
    text-align: center;
    align-content: center;
    font-size: medium;
}